.profile-container {
    width: 100%;
  background-color: #D9DBF1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .profile-info {
    flex: 1;
  }
  
  .profile-info h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .profile-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .rating span {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .stars {
    color: #ff9800;
  }
  
  
  .profile-content {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  