.comentario{
    background-color: wheat;
    font-weight: bold;
    margin-top: 10px;
}

.box{
    display: flex;
}

.imagen{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid black;
    object-fit: cover;
}

.nombre{
    font-weight: bold;
    color:rgb(70, 73, 207);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.datos{
    padding-left: 10px;
    width: 100%;
}
.borrar{
    cursor: pointer;
}

.buttonComment{
    display:flex;
    justify-content: center;
}