.comentario-textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.form{
    display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}