.navheader{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
    height: 10px;
}

.navbar{
    height: 52px;
    background-color: #0B3948;
}

.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcontainerbuttons{
    padding: 3px;
    display: flex;
    justify-items: end;

}
.navbuttons{
    margin: 3px;
    background-color: #D0CDD7;
}

.navProfile{
    display: flex;
    p{
        background-color: #D0CDD7;
        font-weight: bolder;
        padding: 0 10px;
        border: 1px solid black;
        border-radius: 20px;
    }
    img{
        margin: 3px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid black;
        object-fit: cover;
    }
}