.navheader{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
    height: 10px;
}

.navbar{
    height: 52px;
    background-color: #0B3948;
}

.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcontainerbuttons{
    padding: 3px;
    display: flex;
    justify-items: end;

}
.navbuttons{
    margin: 3px;
    background-color: #D0CDD7;
}