.card{
    border-radius: 50px;
    border: 3px black solid;
    background-color: #6e9987;
    color: #27191c;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        align-self: center;
    }

    img{
        height: 200px;
        width: 300px;
    }

}