.contenedorDeRecetas{
    margin-top: 54px;
    display:flex;
    flex-direction: column;
    justify-content: end;
    justify-items: end;
    align-content: end;
    width: 60vw;
}

.contenedor{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    background-color: #e0e4ce;
    min-width: 90vw; 
    min-height: 100vh;  
    box-sizing: border-box; 
}

.categorias{
    width: 50%;
    background-color: #ccc;
    border: 3px solid gray;
    border-radius: 15px;
    height: fit-content;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

}





.recetas{
    margin-top: 54px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: #e0e4ce;
    
    input{
        margin-top: 40px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 30%; /* Ajusta el ancho según sea necesario */
        box-sizing: border-box;
    }
}