.card{
    border-radius: 50px;
    margin: 10px;
    border: 3px black solid;
    background-color: #6e9987;
    color: #27191c;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    max-width: 25%;
    min-width: 20%;
    h2{
        align-self: center;
    }
    h3{
        max-width: 300px;       
        word-wrap: break-word;  
        overflow: hidden;    
        display: -webkit-box;   
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
    }

    img{
        height: 25vh;
        width: 25vw;
        object-fit: contain;
    }

}

.container-img{
    width: 100%;
  height: 0;
  padding-top: 75%;
  position: relative;
  overflow: hidden;
}

.recipe-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }